
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ .toggleNav || 'Toggle navigation' }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .topTitleLink || '#' }}">{{ .topTitle || .title }}</a>
        </div>


        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <mjs-each value="section in .sourceTree.structure | toArray">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{.section.value.groupName}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li mjs-each="item in .section.value.children">
                                <a href="#{{.item.id}}">{{.item.name}}</a>
                            </li>
                        </ul>
                    </li>
                </mjs-each>
            </ul>

            <ul class="nav navbar-nav navbar-right" mjs-if=".hasOwnProperty('topRightMenu')">
                <li mjs-each="item in .topRightMenu">
                    <a href="{{.item.href}}">{{.item.name}}</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</div>