
<div class="navbar navbar-expand navbar-dark bg-dark fixed-top" 
        role="navigation"
        (click)="this.$app.trigger('menu-toggle', null, null)"
        {if}="!this.pageOptions.hideTopMenu"
        {class.fixed-top}="!this.multipage">

    <a class="navbar-brand" 
        [href]=".topTitleLink || '#'" 
        {bind}=".topTitle || .title"></a>


    <mjs-if value="this.$app.hasNav('top-menu')">

    <button class="navbar-toggler" type="button" 
            data-toggle="collapse" 
            data-target="#navbarToggler1" 
            aria-controls="navbarToggler1" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

        <ul class="navbar-nav">
            <li class="nav-item dropdown" 
                {each}="section in .sourceTree.structure | toArray | navFilter:'top-menu'"
                {init}="this.open = false; this.mid = this.$app.initMenuItem()">
                <a href="#" 
                    (click)="this.open = this.$app.toggleMenuItem(this.open, this.mid)"
                    (click.$stop-propagation)="true"
                    {update-on.menu-toggle}="this.$app"
                    {update-on.$code}="
                        if (this.$event[0] != this.mid) {
                            this.open = false;
                        }
                    "
                    class="nav-link dropdown-toggle" 
                    data-toggle="dropdown"
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    <span {bind}=".section.value.groupName"></span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" role="menu" 
                    (click)="this.open = this.$app.toggleMenuItem(this.open, this.mid)"
                    (click.$prevent-default)="true"
                    (click.$stop-propagation)="true"
                    {show}="this.open" 
                    {show.$display}="block">
                    <a class="dropdown-item" 
                        {each}="item in .section.value.children"
                        [href]="this.$app.getItemUrl(this.item)" 
                        (click)="this.$app.goto(this.$app.getItemUrl(this.item))"
                        {bind}=".item.name"></a>
                </div>
            </li>
        </ul>
        <!--
        <ul class="navbar-nav navbar-right"
            {if}=".hasOwnProperty('topRightMenu')">
            <li class="nav-item" 
                {each}="item in .topRightMenu">
                <a class="nav-link" 
                    [href]=".item.href" 
                    {bind}=".item.name"></a>
            </li>
        </ul>-->

    </div><!--/.nav-collapse -->
    </mjs-if> <!-- hasNav -->
</div>
