<mjs-include src=".item.fileType + '.item-header'"></mjs-include>
<mjs-include src=".item.fileType + '.item-flags'"></mjs-include>
<mjs-include src=".item.fileType + '.item-description'"></mjs-include>

<mjs-if value=".item.hasInherited">
    <div class="item-inheritance-toggler">
        <a href="#" 
           (click)="this.showInherited = !this.showInherited" 
           {bind}="this.showInherited ? 'Hide inherited' : 'Show inherited'"></a>
    </div>
</mjs-if>

<div {if}=".item.level == 1 && .item.children.length && .item.type != 'function'"
    class="row">
    <div class="col-3 col-md-3 nopadding item-nav-container">
        <mjs-include src=".item.fileType + '.item-nav'"></mjs-include>
    </div>
    <div class="col-9 col-md-9 nopadding item-properties-container">
        <mjs-include src=".item.fileType + '.item-properties'"></mjs-include>
    </div>
</div>

<mjs-if value=".item.level > 1 || .item.type == 'function'">
    <mjs-include src=".item.fileType + '.item-properties'"></mjs-include>
</mjs-if>