<!--{
    description: "Generic item template"
}-->
<mjs-include src="this.item.fileType + '.item.' + this.item.type + '.header'"></mjs-include>
<mjs-include src="this.item.fileType + '.item.' + this.item.type + '.flags'"></mjs-include>
<mjs-include src="this.item.fileType + '.item.' + this.item.type + '.description'"></mjs-include>

<mjs-if value=".item.hasInherited">
    <div class="item-inheritance-toggler">
        <a href="#" 
           (click)="this.showInherited = !this.showInherited" 
           {bind}="this.showInherited ? 'Hide inherited' : 'Show inherited'"></a>
    </div>
</mjs-if>

<div {if}=".item.level == 1 && .item.children.length && !.item.isFunction"
    class="row">
    <div class="col-3 col-md-3 nopadding item-nav-container">
        <mjs-include src=".item.fileType + '.item.' + .item.type + '.nav'"></mjs-include>
    </div>
    <div class="col-9 col-md-9 nopadding item-properties-container">
        <mjs-include src=".item.fileType + '.item.' + .item.type + '.properties'"></mjs-include>
    </div>
</div>

<mjs-if value=".item.level > 1 || .item.isFunction">
    <mjs-include src=".item.fileType + '.item.' + .item.type + '.properties'"></mjs-include>
    <mjs-if value=".item.isFunction && 
                    .item.plainFlags.hasOwnProperty('returnDescription')">
        <mjs-include src=".item.fileType + '.item.' + .item.type + '.returns'"></mjs-include>
    </mjs-if>
</mjs-if>