<ul {each}="group in .item.children" class="item-nav">
    <li class="item-nav-group-name" 
        {bind}=".group.groupName"></li>
    <li {each}="item in .group.items"
        {show}="!.item.isInherited || $parent.$parent.showInherited"
        {init}=".isFunction = .item.isFunction ||
                                (.item.plainFlags.hasOwnProperty('type') && 
                                .item.plainFlags.type.indexOf('function') != -1)"
        class="item-nav-property"
        {class}="'item-nav-property-' + .item.type"
        {class.inherited}=".item.isInherited">

        <a [href]="'#' + .item.fullName" [title]=".item.name">
            <span class="item-nav-item-name" {bind}=".item.navName || .item.name"></span>
            <mjs-if value=".isFunction">
                <mjs-if value=".item.childTypes.indexOf('param') != -1">
                    <span class="item-nav-item-arguments">({{ .item.getChildren('param') | collect:"name" | join:", " }})</span>
                </mjs-if>
                <mjs-if value=".item.childTypes.indexOf('param') == -1">
                    <span class="item-nav-item-arguments">()</span>
                </mjs-if>
            </mjs-if>
        </a>
    </li>
</ul>
