<mjs-if value="!!this.item.hasOwnProperty('description')">
    <div {each}="descr in .item.description" 
         class="item-description">
        <mjs-if value=".descr.contentType == 'string'">
            <mjs-bind-html value=".descr.content | markdown"></mjs-bind-html>
        </mjs-if>
        <mjs-if value=".descr.contentType == 'code'">
            <pre><code {class}="'language-' + .descr.fileType | prismClass" 
                       {bind}=".descr.content"></code></pre>
        </mjs-if>
    </div>
</mjs-if>
