<div [id]=".item.fullName" 
     class="item-header"
     {init}=".isFunction = .item.isFunction ||
                        (.item.plainFlags.hasOwnProperty('type') &&
                        .item.plainFlags.type.indexOf('function') != -1 && 
                        .item.plainFlags.type.length == 1)">
    <mjs-if value=".item.hasOwnProperty('booleanFlags')">
        <span class="badge badge-warning item-label" 
              {each}="flag in .item.booleanFlags" 
              {bind}=".flag"></span>
    </mjs-if>
    <mjs-tag value=".item.level + 2 > 6 ? 'h6' : 'h' + (.item.level + 2)">
        <mjs-if value=".item.plainFlags.hasOwnProperty('type')">
            <span class="item-type"
                  {bind-html}=".item.plainFlags.type | map:'filter.typeRef' | join:' | ' | markdownLinks"></span>
        </mjs-if>
        <mjs-if value=".item.level == 1 && 
                        .item.hasOwnProperty('type') && 
                        !.item.plainFlags.hasOwnProperty('type')">
            <span class="item-type" {bind}=".item.type"></span>
        </mjs-if>
        <span class="item-name" {bind}=".item.name"></span>
        <mjs-if value=".isFunction">
            <mjs-if value=".item.childTypes.indexOf('param') != -1">
                <span class="item-name-arguments">({{
                    .item.getChildren('param') | collect:"name" | join:", "
                }})</span>
            </mjs-if>
            <mjs-if value=".item.childTypes.indexOf('param') == -1">
                <span class="item-name-arguments">()</span>
            </mjs-if>
            <mjs-if value=".item.plainFlags.hasOwnProperty('returns')">
                <span class="item-name-returns">&nbsp;->
                    <mjs-bind-html value=".item.plainFlags.returns | map:'filter.typeRef' | join:' | ' | markdownLinks"></mjs-bind-html>
            </mjs-if>
        </mjs-if>
    </mjs-tag>
</div>