

$borderColor: #d0d0d0;

.jumbotron {
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.source-container {
    ul {
        list-style: none;
    }
}


.item-group-items {
    border-top: 1px solid $borderColor;
    padding-top: 20px;

    &:first-child {
        border-top: 0;
    }
}

.col-md-2, .col-md-10 {
    margin-top: 20px;
}

.level-0 .col-md-2 {
    //padding-left: 0;
}

.level-0 .col-md-10 {
    border-left: 1px solid $borderColor;
    padding-right: 0;
}

.item-group.level-0 {
    border-top: 2px solid $borderColor;
    margin-top: 30px;

    &:first-child {
        border-top: 0;
        margin-top: 0;
    }
}

.item-properties {

    & > li {
        border-top: 1px dotted $borderColor;
        padding: 5px 0 0 0;
        &:first-child {
            border-top: 0;
            //padding-top: 0;
        }
    }

    &.level-0 {
        padding: 0;
    }

    &.item-properties-param.level-0 {
        padding-left: 40px;
    }

    &.level-0 > li,
    &.level-1 > li {
        padding: 10px 0;
        &:first-child {
            padding-top: 5px;
        }
    }
}


.item-property-group-name,
ul.level-0 > li.item-property-group-name {
    text-transform: uppercase;
    padding: 5px 15px;
    margin-left: -15px;
    border-bottom: 1px solid $borderColor;
}



.item-header {
    $h1Size: 36px;
    $hStep: 4px;
    h1, h2, h3, h4, h5, h6{
        font-size: 0;
    }

    h1 span {
        font-size: $h1Size - ($hStep * 0);
    }
    h1 small {
        font-size: $h1Size - ($hStep * 2);
    }

    h2 span {
        font-size: $h1Size - ($hStep * 1);;
    }
    h2 small {
        font-size: $h1Size - ($hStep * 3);
    }

    h3 span {
        font-size: $h1Size - ($hStep * 2);
    }
    h3 small {
        font-size: $h1Size - ($hStep * 4);
    }

    h4 span {
        font-size: $h1Size - ($hStep * 3);
    }
    h4 small {
        font-size: $h1Size - ($hStep * 5);
    }

    h5 span {
        font-size: $h1Size - ($hStep * 4);
    }
    h5 small {
        font-size: $h1Size - ($hStep * 6);
    }

    h6 span {
        font-size: $h1Size - ($hStep * 5);
    }
    h6 small {
        font-size: $h1Size - ($hStep * 7);
    }

    .item-name-returns {
        color: #999;
        font-weight: normal;
    }
    .item-name-return-descr {
        color: #999;
        font-weight: normal;
    }
    .item-type {
        color: #999;
        font-weight: normal;
    }
}

.item-nav {
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;

    a {
        font-size: 0;
        white-space: nowrap;

        span {
            font-size: 14px;
        }
    }
}

.item-flags {
    padding: 0;
    margin: 0;
}

.item-flags + .item-description {
    margin-top: 10px;
}

.item-type {
    margin-right: 5px;
}

.item-label {
    margin-bottom: 5px;
    margin-right: 5px;
}


.inherited {
    display: none;
}

.item-inheritance-toggler {
    font-size: 12px;
    margin-top: 10px;
}


.pre-code {
    position: relative;

    .code-toggler {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        line-height: 18px;
        text-align: center;
        right: 5px;
        top: 4px;
        font-size: 10px;
        color: #ccc;
        text-decoration: none;
        padding-left: 1px;

        &:hover, &:visited {
            color: #ccc;
            text-decoration: none;
        }
    }

    .code-placeholder {
        color: #888;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        padding-left: 10px;
    }

    &.hidden {

        .code-placeholder {
            display: block;
        }

        .code-toggler-show {
            display: inline;
        }
        .code-toggler-hide {
            display: none;
        }

        code {
            display: none;
        }
    }

    &.visible {
        .code-placeholder {
            display: none;
        }

        .code-toggler-show {
            display: none;
        }
        .code-toggler-hide {
            display: inline;
        }

        code {
            display: block;
        }
    }
}
