/* line 2, ../scss/style.scss */
.jumbotron {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 28px;
}

/* line 9, ../scss/style.scss */
.source-container ul {
  list-style: none;
}

/* line 14, ../scss/style.scss */
.level-0 .col-md-2 {
  padding-left: 0;
}

/* line 18, ../scss/style.scss */
.level-0 .col-md-10 {
  border-left: 1px solid #d0d0d0;
}

/* line 23, ../scss/style.scss */
.item-properties.level-0 {
  padding: 0;
}

/* line 28, ../scss/style.scss */
ul.level-0 > li {
  border-top: 1px solid #d0d0d0;
  padding: 10px 0;
}

/* line 34, ../scss/style.scss */
.item-property-group-name,
ul.level-0 > li.item-property-group-name {
  background-color: #d0d0d0;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
}

/* line 46, ../scss/style.scss */
.item-header h1, .item-header h2, .item-header h3, .item-header h4, .item-header h5, .item-header h6 {
  font-size: 0;
}
/* line 49, ../scss/style.scss */
.item-header h1 span {
  font-size: 36px;
}
/* line 52, ../scss/style.scss */
.item-header h2 span {
  font-size: 32px;
}
/* line 55, ../scss/style.scss */
.item-header h3 span {
  font-size: 28px;
}
/* line 58, ../scss/style.scss */
.item-header h4 span {
  font-size: 24px;
}
/* line 61, ../scss/style.scss */
.item-header h5 span {
  font-size: 20px;
}
/* line 64, ../scss/style.scss */
.item-header h6 span {
  font-size: 16px;
}
/* line 67, ../scss/style.scss */
.item-header .item-name-returns {
  color: #999;
}
/* line 70, ../scss/style.scss */
.item-header .item-name-return-descr {
  color: #999;
}
/* line 73, ../scss/style.scss */
.item-header .item-type {
  color: #999;
}

/* line 78, ../scss/style.scss */
.item-nav {
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 83, ../scss/style.scss */
.item-nav a {
  font-size: 0;
  white-space: nowrap;
}
/* line 87, ../scss/style.scss */
.item-nav a span {
  font-size: 14px;
}
